<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="true">

	<description>服务配置 </description>
    <!-- consumer application name -->
    <dubbo:application name="qida-clm-common-serviceapp"  />
    <dubbo:provider protocol="dubbo" filter="InvocationRpcFilter"></dubbo:provider>
    <dubbo:consumer timeout="15000"/>
    <dubbo:registry address="zookeeper://${zookeeper.addr}" />
    <dubbo:protocol name="dubbo" port="${commons.dubbo.port}" register="${service.register}"/> 
    <dubbo:protocol name="hessian" port="${commons.hessian.port}" server="jetty" register="${service.register}"/>  
    <dubbo:monitor protocol="registry"/>
    <!-- 基础数据服务 -->
    <dubbo:service interface="com.qida.systembasedata.service.AreaService" ref="areaServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.DomainService" ref="domainServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.IndustryService" ref="industryServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysEducationCategoryService" ref="sysEducationCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysHopCategoryService" ref="sysHopCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysPositionCategoryService" ref="sysPositionCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysPostCategoryService" ref="sysPostCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysTeamNumberCategoryService" ref="sysTeamNumberCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysWorkYearsCategoryService" ref="sysWorkYearsCategoryImpl"></dubbo:service>
    <dubbo:service interface="com.qida.systembasedata.service.SysLearningTimeCategoryService" ref="sysLearningTimeCategoryImpl"></dubbo:service>
    
    
    <!-- 官网维护 -->
    <dubbo:service interface="com.qida.manage.service.GatewayCustomerInfoService" ref="gatewayCustomerInfoServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.manage.service.GatewayEnterpriseCommentService" ref="gatewayEnterpriseCommentServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.manage.service.GatewayInformationService" ref="gatewayInformationServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.manage.service.GatewayInformationTypeService" ref="gatewayInformationTypeServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.manage.service.GatewaySiteDynamicService" ref="gatewaySiteDynamicServiceImpl"></dubbo:service>
    
    
    
    
    <dubbo:service interface="com.qida.attachment.service.AttachmentService" ref="attachmentServiceImpl"></dubbo:service>
    <dubbo:service interface="com.qida.attachment.service.BigTextStoreService" ref="bigTextStoreServiceImpl"></dubbo:service>
	<!-- 系统参数服务 -->
	<dubbo:service interface="com.qida.systemparameter.service.SystemParameterService" ref="systemParameterServiceImpl"></dubbo:service>

	<!-- 版本管理服务--> 	
	<dubbo:service interface="com.qida.appversion.service.AppVersionService" ref="appVersionServiceImpl"></dubbo:service>
	
	<!-- 用户反馈管理服务接口--> 	
	<dubbo:service interface="com.qida.userfeedback.service.UserFeedBackService" ref="userFeedBackServiceImpl"></dubbo:service>

	<!-- 文件存储服务-->
	<dubbo:service interface="com.qida.filepersistent.service.FileResourceService" ref="fileResourceServiceImpl">
		<!-- 解压大文件时时间较长，不允许重新发送请求 , 超时90秒 -->
		<dubbo:method name="doDecompress" retries="0" timeout="60000"></dubbo:method>
		<!-- 提交异常解压请求， 不接收返回消息 -->
		<dubbo:method name="doDecompressTask" retries="0" async="true" return="false"></dubbo:method>
	</dubbo:service>

	<!-- 文件上传及任务服务-->
	<dubbo:service interface="com.qida.fileuploadtask.service.UploadTaskServic" ref="uploadTaskServicImpl"></dubbo:service>
	
	<dubbo:service interface="com.qida.common.services.MessageService" ref="messageServiceImpl" />
	
	<dubbo:service interface="com.qida.common.services.EmailService" ref="emailServiceImpl" />
	
	<dubbo:service interface="com.qida.filepersistent.service.OssCompanyService" ref="ossCompanyServiceImpl"/>
	<dubbo:service interface="com.qida.filepersistent.service.BucketCompanyService" ref="bucketCompanyServiceImpl" protocol="hessian"/>
	
</beans>